<h1> Edit Book </h1>

<%= form_for :book, url: book_path(@book), method: :patch do |b| %>
    <% if @book.errors.any? %>
        <% @book.errors.full_messages.each do |msg| %>
            <div class='alert alert-danger'> <%= msg %> </div>
        <% end %>
    <% end %>
    <p class='form-group'> 
         <%= b.label :title %> <br>
         <%= b.text_field :title , :class => 'form-control' %>
    </p>

    <p class='form-group'>
        <%= b.label :author %> <br>
        <%= b.text_field :author, :class=> 'form-control'%>
    </p>


    <p class='form-group'>
        <%= b.label :publisher %> <br>
        <%= b.text_field :publisher, :class => 'form-control'%>
    </p>

    <p> 
        <%= b.submit :class => 'btn btn-primary'%>
    </p>
<% end %>